flows.json
[{"id":"6295da3e.7a3044","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"77f0f71b.729478","type":"ui_form","z":"6295da3e.7a3044","name":"","label":"Fill Details","group":"edfa0b79.2ee048","order":2,"width":"6","height":"6","options":[{"label":"AGE","value":"ag","type":"number","required":true},{"label":"GENDER","value":"s","type":"number","required":true},{"label":"BMI","value":"bm","type":"number","required":true},{"label":"CHILDREN","value":"child","type":"number","required":true},{"label":"SMOKER","value":"smk","type":"number","required":true},{"label":"REGION","value":"rg","type":"number","required":true},{"label":"CHARGES","value":"crg","type":"number","required":true}],"formValue":{"ag":"","s":"","bm":"","child":"","smk":"","rg":"","crg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":96.5,"y":79,"wires":[["becfd5e.5eef628"]]},{"id":"becfd5e.5eef628","type":"function","z":"6295da3e.7a3044","name":"f1","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4711136a-2cbf-4a17-8b77-8d32888ca931\"\nvar password=\"532d1339-b7dc-419b-ace5-79402af52be3\"\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"child\",msg.payload.child)\nglobal.set(\"smk\",msg.payload.smk)\nglobal.set(\"rg\",msg.payload.rg)\nglobal.set(\"crg\",msg.payload.crg)\nreturn msg;","outputs":1,"noerr":0,"x":244.5,"y":116,"wires":[["e93ad5db.bd53b8"]]},{"id":"e93ad5db.bd53b8","type":"http request","z":"6295da3e.7a3044","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":361.5,"y":193,"wires":[["2a36cfd3.061c8"]]},{"id":"2a36cfd3.061c8","type":"function","z":"6295da3e.7a3044","name":"f2","func":"var token=msg.payload.token;\nvar ag=global.get(\"ag\");\nvar s=global.get(\"s\");\nvar bm=global.get(\"bm\");\nvar child=global.get(\"child\");\nvar smk=global.get(\"smk\");\nvar rg=global.get(\"rg\");\nvar crg=global.get(\"crg\");\nmsg.payload={\"fields\":[\"age\",\"sex\",\"bmi\",\"children\",\"smoker\",'region','charges'],\"values\":[[ag,s,bm,child,smk,rg,crg]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;\n","outputs":1,"noerr":0,"x":509.5,"y":314,"wires":[["17abfca1.2daa13"]]},{"id":"17abfca1.2daa13","type":"http request","z":"6295da3e.7a3044","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ce697a83-0f3c-42cd-947d-1f063d8d3ebe/deployments/e146b667-e844-475f-922e-40ccc2c277e8/online","tls":"","proxy":"","authType":"","x":651.5,"y":417,"wires":[["393902ad.0ff28e"]]},{"id":"393902ad.0ff28e","type":"function","z":"6295da3e.7a3044","name":"f3","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":748.5,"y":480,"wires":[["fa284cd5.f3ee4"]]},{"id":"fa284cd5.f3ee4","type":"ui_text","z":"6295da3e.7a3044","group":"edfa0b79.2ee048","order":3,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-center","x":678.5,"y":544,"wires":[]},{"id":"edfa0b79.2ee048","type":"ui_group","z":"","name":"HEALTH_INSURANCE","tab":"76aa8510.a6265c","disp":true,"width":"6","collapse":false},{"id":"76aa8510.a6265c","type":"ui_tab","z":"","name":"HEALTH_INSURANCE","icon":"puru","disabled":false,"hidden":false}]